<div class="w-100 h-100 d-flex">
	<div class="container m-auto d-flex">
		<div class="m-auto d-flex flex-column">
			<div class="d-flex">
				<%= image_tag("/assets/tsinelas.png",  alt: "Larong Pinoy Slipper-P Logo" , class: "logo-lg") %> 
				<span class=" my-auto ml-1 h3 font-weight-bold">Larong Pinoy</span>
			</div>
			<button class="mx-auto mt-3 btn btn-light btn-lg bg-yellow px-4" type="button">
				<span class="h2 font-weight-bold">PLAY</span>
			</button>
		</div>	
	</div>
</div>